<div class="clearfix carousel-container">
<h2>
  Discover the magic
</h2>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
    </li>
    <li data-target="#carousel-example-generic" data-slide-to="1">
    </li>
    <li data-target="#carousel-example-generic" data-slide-to="2">
    </li>
    <li data-target="#carousel-example-generic" data-slide-to="3">
    </li>
    <li data-target="#carousel-example-generic" data-slide-to="4">
    </li>
    <li data-target="#carousel-example-generic" data-slide-to="5">
    </li>
    <li data-target="#carousel-example-generic" data-slide-to="6">
    </li>
    <li data-target="#carousel-example-generic" data-slide-to="7">
    </li>
    <li data-target="#carousel-example-generic" data-slide-to="8">
    </li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <h3 class="carousel-title">
        Awesome native looking controls
      </h3>
      <img class="carousel-shadow" src="/assets/img/caps/form.png" />
    </div>


    <div class="item">
      <h3 class="carousel-title">
        Slide in/Slide out sidebars
      </h3>
      <img class="carousel-shadow" src="/assets/img/caps/2.png" />
    </div>

    <div class="item">
      <h3 class="carousel-title">
        It's just Bootstrap 3
      </h3>
      <img class="carousel-shadow" src="/assets/img/caps/code.png" />
    </div>


    <div class="item">
      <h3 class="carousel-title">
        Everything interactive without Js!
      </h3>
      <img class="carousel-shadow" src="/assets/img/caps/toggle.png" />
    </div>

    <div class="item">
      <h3 class="carousel-title">
        Bootstrap 3 controls
      </h3>
      <img class="carousel-shadow" src="/assets/img/caps/tabs.png" />
    </div>

    <div class="item">
      <h3 class="carousel-title">
        Include desktop.css and you'll go fully-responsive
      </h3>
      <img class="carousel-shadow" src="/assets/img/caps/6.png" />
    </div>

    <div class="item">
      <h3 class="carousel-title">
        Scollable areas with fixed navbars that don't bounce
      </h3>
      <img class="carousel-shadow" src="/assets/img/caps/3.png" />
    </div>

    <div class="item">
      <h3 class="carousel-title">
        Overlays
      </h3>
      <img class="carousel-shadow" src="/assets/img/caps/4.png" />
    </div>

    <div class="item">
      <h3 class="carousel-title">
        Easily move or copy controls from views to layout retaining the scope with the contentFor directive
      </h3>
      <img class="carousel-shadow" src="/assets/img/caps/contentfor.png" />
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="fa fa-chevron-left">
    </span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="fa fa-chevron-right">
    </span>
  </a>
</div>
</div>
