<footer class="footer">
  <div class="container">
    <p>
      Mobile Angular Ui is made for you by <a href="https://github.com/mcasimir" target="_blank">mcasimir</a>
    </p>
    <p>
      <ul class="list-inline">
        {{>nav}}
      </ul>
      <ul class="list-inline">
        <li><a target="blank" href="https://github.com/mcasimir/mobile-angular-ui"><i class="fa fa-github"></i> Github</a></li>
        <li><a target="blank" href="https://plus.google.com/+MobileangularuiGp"><i class="fa fa-google-plus"></i> Google+</a></li>
        <li><a target="blank" href="https://twitter.com/mobileangularui"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href="mailto:mobileangularui@gmail.com"><i class="fa fa-envelope"></i> Mail</a></li>
      </ul>
    </p>
    <p>
      Published under the
      <a
        href="https://raw.githubusercontent.com/mcasimir/mobile-angular-ui/master/LICENSE"
      >MIT license</a>.
    </p>
  </div>
</footer>
