<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <div class="claim lead">
          Build HTML5 Mobile Apps with Bootstrap and Angular JS
        </div>
      </div>
      <div class="col-sm-8 col-md-9">
        <img src="/assets/img/phone.png" class="pull-right"/>
      </div>
    </div>
    <div class="btn-group btn-group-claim">
      <a href="https://api.github.com/repos/mcasimir/mobile-angular-ui/zipball/{{config.version}}"
          class="btn btn-claim btn-lg">
        <i class="fa fa-download">
        </i>
        Download
      </a>
      <a href="demo" class="btn btn-claim btn-lg">
        <i class="fa fa-eye">
        </i>
        Online Demo
      </a>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        Current: {{version}}<div class="visible-xs"><br/></div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group btn-group-justified">
          <a href="https://github.com/mcasimir/mobile-angular-ui" target="blank" class="btn"><i class="fa fa-github"></i> <span class="github-count">Github</span></a>
          <a href="https://twitter.com/mobileangularui" target="blank" class="btn"><i class="fa fa-twitter"></i> <span class="twitter-count">Twitter</span></a>
          <a href="https://plus.google.com/+MobileangularuiGp" target="blank" class="btn"><i class="fa fa-google-plus"></i> <span class="google-plus-count">Google+</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
