<div class="container">
<div class="home-body">
<div class="lead">
  Mobile Angular UI is a mobile UI framework just like Sencha Touch or jQuery Mobile. If you know Angular JS and Twitter Bootstrap you already know it!
</div>

{{#feature '/assets/img/features/sec-mobile-fig.png' }}
## Awesome Mobile Components

Mobile Angular UI provides essential mobile components that are missing in Bootstrap 3: switches, overlays, sidebars, scrollable areas, absolute positioned top and bottom navbars that don't bounce on scroll.

It relies on robust libraries like fastclick.js and overthrow.js to achieve the better mobile experience.
{{/feature}}

{{#feature '/assets/img/features/sec-angular-fig.png' inverted=true }}
## Angular JS Everywhere

No jQuery dependencies, no fat bootstrap js. Just a few angular.js directives super easy to learn to put things together.
{{/feature}}

{{#feature '/assets/img/features/sec-desktop-fig.png' }}
## From Desktop to Mobile and back with the smallest effort possible

Mobile Angular UI retains most of the Bootstrap 3 syntax. This way it’s trivial to bring an existing desktop web app to mobile.

Also a super-small css file is provided to do the opposite. Just include it and you’ll get a fully responsive and touch enabled interface that can be used everywhere.
{{/feature}}

{{#feature '/assets/img/features/sec-bootstrap-fig.png' inverted=true }}
## Bootstrap tailored for your needs

Original Bootstrap 3 is stripped out of responsive media queries that are put apart in separate files (just include what you need).

FontAwesome Icons are included by default in place of Glyphicons.
{{/feature}}
</div>
</div>

{{>features}}

<div class="container">
  <div class="home-body">
<section class="text-center">
  <h2>
    Help Mobile Angular UI to grow!
  </h2>
  <p>
    Mobile Angular UI it’s an Open Source project. So it needs you! You can support its development and community in many ways.
  </p>
  <br/>

  <div class="btn-group">
    <a class="btn btn-default btn-lg" href='https://github.com/mcasimir/mobile-angular-ui/issues?state=open'>
      <i class="fa fa-github"></i>
      Report Issues
    </a>
    <a class="btn btn-default btn-lg" href='/forum'>
      <i class="fa fa-comment"></i>
      Discuss
    </a>
    <a class="btn btn-default btn-lg" href='https://pledgie.com/campaigns/24868'>
      <i class="fa fa-heart"></i>
      Donate
    </a>
  </div>

</section>
  </div>
</div>
