<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{$root}}">
        <span class="logo">
          {{config 'site_title'}}
        </span>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-nav">
      <ul class="nav navbar-nav navbar-right">
        {{>nav}}
        <li><a href="https://github.com/mcasimir/mobile-angular-ui" target="blank"><i class="fa fa-github"></i> Sources</a></li>
      </ul>
    </div>
  </div>
</div>
