@import "fontawesome/less/font-awesome.less";
@import "roboto-fontface/roboto-fontface.less";

@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";
@import "bootstrap/less/normalize.less";
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/type.less";
@import "bootstrap/less/code.less";
@import "bootstrap/less/grid.less";
@import "bootstrap/less/tables.less";
@import "bootstrap/less/forms.less";
@import "bootstrap/less/buttons.less";
@import "bootstrap/less/navs.less";
@import "bootstrap/less/navbar.less";
@import "bootstrap/less/jumbotron.less";
@import "bootstrap/less/alerts.less";
@import "bootstrap/less/pagination.less";
@import "bootstrap/less/carousel.less";
@import "bootstrap/less/utilities.less";
@import "bootstrap/less/responsive-utilities.less";
@import "bootstrap/less/component-animations.less";
@import "vars.less";
@import "mixins.less";

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
  font-weight: @font-weight-base;
}

img {
  max-width: 100%;
}

.content {
  min-height: 700px;
}

.lead {
  font-weight: 200;
  font-size: 28px;
  line-height: 1.3;
  @media (min-width: @screen-sm) {
    font-size: 32px;
  }
}

.btn-group {
  .btn-lg {
    min-width: 210px;
    margin: 5px;
    display: block;
    @media (min-width: @screen-sm) {
      display: inline-block;
    }
  }
}

.page-header {
  margin-top: 0;
}

section {
  margin-bottom: @line-height-computed * 2;
}

.full-width-figure {
  .text-center;
  margin: @line-height-computed 0;
}


.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  > .btn,
  > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
    padding: 0;
  }
  > .btn-group .btn {
    width: 100%;
  }
}


h2, h3, h4, h5, h6 {
  margin-top: floor(@line-height-computed * 1.5);
  margin-bottom: @line-height-computed;
  >code {
    background: transparent;
    color: @headings-color;
  }
}

table {
  .table;
  .table-striped;
  .table-bordered;
  margin-top: @line-height-computed;
  margin-bottom: @line-height-computed;
}

@import "navbar.less";
@import "footer.less";
@import "hljs.less";
@import "toc.less";
@import "hero.less";
@import "home.less";
@import "features.less";
@import "forum.less";
